<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ChargingPileMapper">
    
    <resultMap type="ChargingPile" id="ChargingPileResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="model"    column="model"    />
        <result property="power"    column="power"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="type"    column="type"    />
        <result property="voltage"    column="voltage"    />
        <result property="gunNumber"    column="gun_number"    />
        <result property="supplyNumber"    column="supply_number"    />
        <result property="stationName"    column="station_name"    />
        <result property="partitionName"    column="partition_name"    />
        <result property="status"    column="status"    />
        <result property="operator"    column="operator"    />
        <result property="belongs"    column="belongs"    />
        <result property="parkingNumber"    column="parking_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectChargingPileVo">
        select id, name, model, power, serial_number, type, voltage, gun_number, supply_number, station_name, partition_name, status, operator, belongs, parking_number, create_by, create_time, update_by, update_time, remark from charging_pile
    </sql>

    <select id="selectChargingPileList" parameterType="ChargingPile" resultMap="ChargingPileResult">
        <include refid="selectChargingPileVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="stationName != null  and stationName != ''"> and station_name like concat('%', #{stationName}, '%')</if>
            <if test="partitionName != null  and partitionName != ''"> and partition_name like concat('%', #{partitionName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
        </where>
    </select>
    
    <select id="selectChargingPileById" parameterType="Long" resultMap="ChargingPileResult">
        <include refid="selectChargingPileVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChargingPile" parameterType="ChargingPile" useGeneratedKeys="true" keyProperty="id">
        insert into charging_pile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="model != null">model,</if>
            <if test="power != null">power,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="type != null">type,</if>
            <if test="voltage != null">voltage,</if>
            <if test="gunNumber != null">gun_number,</if>
            <if test="supplyNumber != null">supply_number,</if>
            <if test="stationName != null">station_name,</if>
            <if test="partitionName != null">partition_name,</if>
            <if test="status != null">status,</if>
            <if test="operator != null">operator,</if>
            <if test="belongs != null">belongs,</if>
            <if test="parkingNumber != null">parking_number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="model != null">#{model},</if>
            <if test="power != null">#{power},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="type != null">#{type},</if>
            <if test="voltage != null">#{voltage},</if>
            <if test="gunNumber != null">#{gunNumber},</if>
            <if test="supplyNumber != null">#{supplyNumber},</if>
            <if test="stationName != null">#{stationName},</if>
            <if test="partitionName != null">#{partitionName},</if>
            <if test="status != null">#{status},</if>
            <if test="operator != null">#{operator},</if>
            <if test="belongs != null">#{belongs},</if>
            <if test="parkingNumber != null">#{parkingNumber},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChargingPile" parameterType="ChargingPile">
        update charging_pile
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="model != null">model = #{model},</if>
            <if test="power != null">power = #{power},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="type != null">type = #{type},</if>
            <if test="voltage != null">voltage = #{voltage},</if>
            <if test="gunNumber != null">gun_number = #{gunNumber},</if>
            <if test="supplyNumber != null">supply_number = #{supplyNumber},</if>
            <if test="stationName != null">station_name = #{stationName},</if>
            <if test="partitionName != null">partition_name = #{partitionName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="belongs != null">belongs = #{belongs},</if>
            <if test="parkingNumber != null">parking_number = #{parkingNumber},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChargingPileById" parameterType="Long">
        delete from charging_pile where id = #{id}
    </delete>

    <delete id="deleteChargingPileByIds" parameterType="String">
        delete from charging_pile where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>